body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 3px solid #333;
    padding: 10px;
    text-align: center;
    background-color: cornflowerblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 300px;
}

#display {
    width: 290px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 24px;
    border: 2px solid black;
    border-radius: 3px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: purple;
    color: #fff;
    border:2px solid black;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px;
}

button:hover {
    background-color: gainsboro;
}
